<main>
    <div class="kategori-ekle">
        <div class="w3-container">
            <button onclick="document.getElementById('id01').style.display='block'" class="">Kategori Ekle</button>
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content w3-animate-zoom w3-card-2">
                    <header class="w3-container">
                        <span onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>
                        <h2>Kategori Ekle</h2>
                    </header>
                    <div class="w3-container">
                        <div class="search-bar" style="margin: 4rem;">
                            <form>
                                <input type="text" placeholder="Kategori Adı*" name="search" style="width: 35rem;">
                            </form>
                        </div>
                    </div>
                    <footer class="w3-container" style="padding-bottom: 2rem;">
                        <button class="w3-button">Kategori Ekle</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <form>
            <input type="text" placeholder="Kategori Ara.." name="search">
        </form>
    </div>
    <div class="content">
        <table class="category-list">
            <tr class="title">
                <th class="title-item">Kategori İsmi</th>
                <th class="title-item">İşlemler</th>
            </tr>
            <tr class="category-column">
                <td class="column-item">Alfreds Futterkiste</td>
                <td class="column-item">
                    <div class="kategori-düzenle">
                        <div class="w3-container" style="padding-left: 0rem;">
                            <button onclick="document.getElementById('id05').style.display='block'">Düzenle</button>
                            <div id="id05" class="w3-modal">
                                <div class="w3-modal-content w3-animate-zoom w3-card-2">
                                    <header class="w3-container">
                                        <span onclick="document.getElementById('id05').style.display='none'"
                                            class="w3-button w3-display-topright">&times;</span>
                                        <h2>Düzenle</h2>
                                    </header>
                                    <div class="w3-container">
                                        <div class="search-bar" style="margin: 4rem;">
                                            <form>
                                                <input type="text" placeholder="Kategori Adı*" name="search"
                                                    style="width: 35rem;">
                                            </form>
                                        </div>
                                    </div>
                                    <footer class="w3-container" style="padding-bottom: 2rem;">
                                        <button class="w3-button">Kategoriyi Kaydet</button>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="category-column">
                <td class="column-item">Centro comercial Moctezuma</td>
                <td class="column-item"><div class="kategori-düzenle">
                    <div class="w3-container" style="padding-left: 0rem;">
                        <button onclick="document.getElementById('id01').style.display='block'">Düzenle</button>
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-animate-zoom w3-card-2">
                                <header class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Düzenle</h2>
                                </header>
                                <div class="w3-container">
                                    <div class="search-bar" style="margin: 4rem;">
                                        <form>
                                            <input type="text" placeholder="Kategori Adı*" name="search"
                                                style="width: 35rem;">
                                        </form>
                                    </div>
                                </div>
                                <footer class="w3-container" style="padding-bottom: 2rem;">
                                    <button class="w3-button">Kategori Ekle</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div></td>
            </tr>
            <tr class="category-column">
                <td class="column-item">Ernst Handel</td>
                <td class="column-item"><div class="kategori-düzenle">
                    <div class="w3-container" style="padding-left: 0rem;">
                        <button onclick="document.getElementById('id01').style.display='block'">Düzenle</button>
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-animate-zoom w3-card-2">
                                <header class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Düzenle</h2>
                                </header>
                                <div class="w3-container">
                                    <div class="search-bar" style="margin: 4rem;">
                                        <form>
                                            <input type="text" placeholder="Kategori Adı*" name="search"
                                                style="width: 35rem;">
                                        </form>
                                    </div>
                                </div>
                                <footer class="w3-container" style="padding-bottom: 2rem;">
                                    <button class="w3-button">Kategori Ekle</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div></td>
            </tr>
            <tr class="category-column">
                <td class="column-item">Island Trading</td>
                <td class="column-item"><div class="kategori-düzenle">
                    <div class="w3-container" style="padding-left: 0rem;">
                        <button onclick="document.getElementById('id01').style.display='block'">Düzenle</button>
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-animate-zoom w3-card-2">
                                <header class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Düzenle</h2>
                                </header>
                                <div class="w3-container">
                                    <div class="search-bar" style="margin: 4rem;">
                                        <form>
                                            <input type="text" placeholder="Kategori Adı*" name="search"
                                                style="width: 35rem;">
                                        </form>
                                    </div>
                                </div>
                                <footer class="w3-container" style="padding-bottom: 2rem;">
                                    <button class="w3-button">Kategori Ekle</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div></td>
            </tr>
            <tr class="category-column">
                <td class="column-item">Laughing Bacchus Winecellars</td>
                <td class="column-item"><div class="kategori-düzenle">
                    <div class="w3-container" style="padding-left: 0rem;">
                        <button onclick="document.getElementById('id01').style.display='block'">Düzenle</button>
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-animate-zoom w3-card-2">
                                <header class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Düzenle</h2>
                                </header>
                                <div class="w3-container">
                                    <div class="search-bar" style="margin: 4rem;">
                                        <form>
                                            <input type="text" placeholder="Kategori Adı*" name="search"
                                                style="width: 35rem;">
                                        </form>
                                    </div>
                                </div>
                                <footer class="w3-container" style="padding-bottom: 2rem;">
                                    <button class="w3-button">Kategori Ekle</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div></td>
            </tr>
            <tr class="category-column">
                <td class="column-item">Magazzini Alimentari Riuniti</td>
                <td class="column-item"><div class="kategori-düzenle">
                    <div class="w3-container" style="padding-left: 0rem;">
                        <button onclick="document.getElementById('id01').style.display='block'">Düzenle</button>
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-animate-zoom w3-card-2">
                                <header class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Düzenle</h2>
                                </header>
                                <div class="w3-container">
                                    <div class="search-bar" style="margin: 4rem;">
                                        <form>
                                            <input type="text" placeholder="Kategori Adı*" name="search"
                                                style="width: 35rem;">
                                        </form>
                                    </div>
                                </div>
                                <footer class="w3-container" style="padding-bottom: 2rem;">
                                    <button class="w3-button">Kategori Ekle</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div></td>
            </tr>
        </table>
    </div>
</main>