<main>
    <div class="content">
        <div class="card">
            <form action="/action_page.php">
                <h3>Hoş Geldiniz</h3>
                <input type="text" id="fname" name="fname" placeholder="E-Posta"><br>
               <input type="text" id="lname" name="lname" placeholder="Şifre"><br><br>
                <input class="submit" type="submit" value="Giriş Yap">
              </form> 
              
              <p class="uyarı">Hesabın yok mu? Şimdi <a href="/signup">üye ol</a></p>
              <p class="sifremi-unuttum"><a href="/password">Şifremi Unuttum</a></p>
        
        </div>
    </div>
    <div class="efekt"></div>
    <div class="bacground-image">
        <img src="../../assets/login.jpg" alt="">
    </div>
</main>