<main>
    <div class="content">
        <div class="card">
            <form (ngSubmit)="onSubmit()">
                <h3>Hoş Geldiniz</h3>
                <input type="email" id="email" [(ngModel)]="loginData.email" name="email" placeholder="E-Posta"
                    required><br>
                <input type="password" id="password" [(ngModel)]="loginData.password" name="password"
                    placeholder="Şifre" required><br><br>
                <input class="submit" type="submit" value="Giriş Yap">
            </form>
            <p class="uyarı">Hesabın yok mu? Şimdi <a href="/signup">üye ol</a></p>
            <p class="sifremi-unuttum"><a href="/password">Şifremi Unuttum</a></p>

        </div>
    </div>
    <div class="efekt"></div>
    <div class="bacground-image">
        <img src="../../assets/login.jpg" alt="">
    </div>
</main>