<menu>
    <div class="search-bar">
        <form>
            <input type="text" placeholder="Kategori Ara.." name="search">
        </form>
    </div>
    <div class="bill-list">
        <table class="category-list" style="width: 100%;">
            <tr class="title" style="text-align: left;justify-content: space-between;">
                <th class="title-item">Ürün</th>
                <th class="title-item">Kategori</th>
                <th class="title-item">Fiyat</th>
                <th class="title-item">Miktar</th>
                <th class="title-item">Total</th>
                <th class="title-item">İşlemler</th>
            </tr>
            <tr class="category-column">
                <td class="column-item">Mercimek Çorbası</td>
                <td class="column-item">Çorba</td>
                <td class="column-item">39.90 TL</td>
                <td class="column-item">1</td>
                <td class="column-item">39.90 TL</td>
                <td class="column-item" style="display: flex;padding-top: .5rem;">
                    <div class="w3-container" style="padding: 0rem;">
                        <img src="../../assets/detail.png" alt="" style="margin-right: 1rem;"
                            onclick="document.getElementById('id01').style.display='block'" class="">
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-animate-zoom w3-card-2">
                                <header class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Ödeme Detayı</h2>
                                </header>
                                <div class="w3-container">
                                    <table class="category-list" style="width: 100%;margin-bottom: 2rem;">
                                        <tr class="title" style="text-align: left;justify-content: space-between;">
                                            <th class="title-item" style="border-right: 1px solid #bebebe;border-top: 1px solid #bebebe;border-left: 1px solid #bebebe;">İsim: Esma Harmancı</th>
                                            <th class="title-item" style="border-right: 1px solid #bebebe;border-top: 1px solid #bebebe;">E-Posta:esmaharmanci@gmail.com</th>
                                        </tr>
                                        <tr class="category-column" style="text-align: start;">
                                            <td class="column-item" style="border-right: 1px solid #bebebe;border-left: 1px solid #bebebe;"><b>İletişim Numarası: 539 123 23 34</b></td>
                                            <td class="column-item" style="border-right: 1px solid #bebebe;"><b>Ödeme Yöntemi: Nakit</b></td>                                       
                                        </tr>
                                    </table>

                                    <table class="category-list" style="width: 100%;margin-bottom: 2rem;">
                                        <tr class="title" style="text-align: left;justify-content: space-between;">
                                            <th class="title-item">Ürün</th>
                                            <th class="title-item">Kategori</th>
                                            <th class="title-item">Fiyat</th>
                                            <th class="title-item">Miktar</th>
                                            <th class="title-item">Total</th>
                                        </tr>
                                        <tr class="category-column" style="text-align: start;">
                                            <td class="column-item">Kahve</td>
                                            <td class="column-item">İçecek</td>  
                                            <td class="column-item">89.50 TL</td>
                                            <td class="column-item">2</td> 
                                            <td class="column-item">179 TL</td>                                      
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: .3rem;margin-right: 1rem;">
                        <img src="../../assets/download.png" alt="Download" (click)="downloadPDF()">
                    </div>
                    <div style="padding-top: .3rem;margin-right: 1rem;">
                    <img src="../../assets/delete.png" alt="" style="margin-right: 1rem;width: 20px; height: 20px;"
                        class="">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</menu>