<main>
    <div class="content">
        <div class="card">
            <form action="/action_page.php">
                <h3>Hoş Geldiniz</h3>
                <input type="text" id="fname" name="fname" placeholder="Ad"><br>
               <input type="text" id="lname" name="lname" placeholder="Soyad"><br>
               <input type="text" id="fname" name="fname" placeholder="E-Posta"><br>
              <input type="text" id="lname" name="lname" placeholder="Şifre"><br><br>
                <input class="submit" type="submit" value="Üye Ol">
              </form> 
              <p class="uyarı">Hesabın var mı? Şimdi <a href="/login">giriş yap</a></p>
        
        </div>
    </div>
    <div class="efekt"></div>
    <div class="bacground-image">
        <img src="../../assets/login.jpg" alt="">
    </div>
</main>