<div class="dashboard-sidebar">
    <div class="logo"><img src="../../../assets/dark-logo.png" alt=""></div>
    <div class="sidebar-items">
        <ul class="sidebar-list">
            <li class="item">
                <a [routerLink]="['/dashboard/orders']">
                    <div class="item-icon image1">
                    </div>
                    <div class="item-text">
                        Siparişler
                    </div>
                </a>
            </li>
            <li class="item">
                <a [routerLink]="['/dashboard/category']">
                    <div class="item-icon image2">
                    </div>
                    <div class="item-text">
                        Kategoriler
                    </div>
                </a>
            </li>
            <li class="item">
                <a [routerLink]="['/dashboard/menu']">
                    <div class="item-icon image3">
                    </div>
                    <div class="item-text">
                        Menü
                    </div>
                </a>
            </li>
            <li class="item">
                <a [routerLink]="['/dashboard/bills']">
                    <div class="item-icon image4">
                    </div>
                    <div class="item-text">
                        Ödemeler
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>