.logo img {
    width: 160px;
    margin-top: 1rem;
}

.dashboard-sidebar {
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 100vh;
}

.sidebar-list {
    list-style: none;
    text-align: start;
    padding-top: 2rem;
    padding-left: 0;
    font-size: 15px;
}

.item {
    margin-top: 1rem;
    display: flex;
    padding: .5rem;
    padding-left: 2rem;
    cursor: pointer;

    .image1 {
        width: 24px;
        height: 24px;
        margin-right: .5rem;
        background-image: url(../../../assets/sidebar-icon/siparis.png);
    }

    .image2 {
        width: 24px;
        height: 24px;
        margin-right: .5rem;
        background-image: url(../../../assets/sidebar-icon/category.png);
    }

    .image3 {
        width: 24px;
        height: 24px;
        margin-right: .5rem;
        background-image: url(../../../assets/sidebar-icon/menu.png);
    }

    .image4 {
        width: 24px;
        height: 24px;
        margin-right: .5rem;
        background-image: url(../../../assets/sidebar-icon/bill.png);
    }

    .item-text {
        padding-top: .1rem;
    }

    a {
        display: flex;
        text-decoration: none;
        color: black;
    }
}

.item:hover {
    background-color: #080100;

    .image1 {
        width: 24px;
        height: 24px;
        margin-right: .5rem;
        background-image: url(../../../assets/sidebar-icon/light/lorders.png);
    }

    .image2 {
        width: 24px;
        height: 24px;
        margin-right: .5rem;
        background-image: url(../../../assets/sidebar-icon/light/lcategory.png);
    }

    .image3 {
        width: 24px;
        height: 24px;
        margin-right: .5rem;
        background-image: url(../../../assets/sidebar-icon/light/lmenu.png);
    }

    .image4 {
        width: 24px;
        height: 24px;
        margin-right: .5rem;
        background-image: url(../../../assets/sidebar-icon/light/lbill.png);
    }

    a {
        color: white;
    }
}