<div class="dashboard-sidebar">
    <div class="logo"><img src="../../../assets/dark-logo.png" alt=""></div>
    <div class="sidebar-items">
        <ul class="sidebar-list">
            <li class="item">
                <a href="/dashboard/category">
                    <div class="item-icon">
                        <img src="../../../assets/sidebar-icon/siparis.png" alt="">
                    </div>
                    <div class="item-text">
                        Siparişler
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/dashboard/category">
                    <div class="item-icon">
                        <img src="../../../assets/sidebar-icon/category.png" alt="">
                    </div>
                    <div class="item-text">
                        Kategoriler
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/dashboard/category">
                    <div class="item-icon">
                        <img src="../../../assets/sidebar-icon/menu.png" alt="">
                    </div>
                    <div class="item-text">
                        Menü
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>