<body>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <main>
        <div class="navbar">
            <div class="hosgeldin">
                <h2>Selam, Esma Harmancı</h2>
                <p>Hoş Geldin!</p>
            </div>
        </div>
        <div class="content">
            <div class="article"><app-eat-card></app-eat-card></div>
        </div>
    </main>
</body>
<div class="efekt"></div>
<div class="background-image">
    <img src="../../assets/dashboard-back.jpg" alt="">
</div>