<body>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <main>
        <div class="navbar" style="display: flex; justify-content: space-between;">
            <div class="hosgeldin">
                <h2>Selam, Esma Harmancı</h2>
                <p>Hoş Geldin!</p>
            </div>
            <div class="profie">
                <div class="dropdown">
                    <img src="../../assets/user.png"class="dropbtn" alt="">
                    <div class="dropdown-content">
                      <a href="#">Çıkış Yap</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="content">
            <div class="article"><router-outlet></router-outlet></div>
        </div>
    </main>
</body>
<div class="efekt"></div>
<div class="background-image">
    <img src="../../assets/dashboard-back.jpg" alt="">
</div>