<body>
    <nav class="navbar">
        <nav class="home-navbar">
            <div class="logo"><img src="../../../assets/logo.png" alt=""></div>
            <div class="navbar-right">
                <ul class="navbar-items">
                    <li class="item"><a href="./login">Giriş Yap</a></li>
                    <li class="item"><a href="./signup">Üye Ol</a></li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <p class="welcome-text">RestoLezzet Restoranı, lezzetli yemekleri, sıcak bir atmosferi ve canlı müzik
                etkinlikleriyle sizi ağırlamak için
                hazır. Şeflerimizin özenle hazırladığı yemeklerimizi tatmak ve özel anlarınızı kutlamak için bize katılın.
                RestoLezzet'te unutulmaz bir deneyim sizi bekliyor!</p>
            <button class="menu-butonu">Menüyü İncele</button>
        </div>
    </nav>
    <div class="efekt"></div>
    <div class="background-image">
        <img src="../../assets/homeBackground.jpg" alt="langingPage-image">
    </div>
    <div class="content" style="position: fixed;">
        <p class="welcome-text">RestoLezzet Restoranı, lezzetli yemekleri, sıcak bir atmosferi ve canlı müzik
            etkinlikleriyle sizi ağırlamak için
            hazır. Şeflerimizin özenle hazırladığı yemeklerimizi tatmak ve özel anlarınızı kutlamak için bize katılın.
            RestoLezzet'te unutulmaz bir deneyim sizi bekliyor!</p>
        <button class="menu-butonu">Menüyü İncele</button>
    </div>
</body>